@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
/* 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 */
body {
  margin: 0;
  font-family: "Noto Sans", sans-serif;
}
.MuiAppBar-positionStatic {
  background-image: url("../Assets/99815.png");
}
.dashboardPadding {
  padding: 20px 20px;
}
.dashboardIcons {
  font-size: 60px !important;
}

.backgound {
  background-image: url("../Assets/99815.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.gridBackground {
  background-image: url("../Assets/OXavm4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.loginBox {
  height: 500px;
  background-color: white;
  width: 700px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  box-shadow: 0px 6px 40px -1px rgb(0 0 0 / 24%);
}
.header {
  height: 100px;

  background-color: #01d28e;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  text-align: center;
}

.headerText {
  padding: 25px 0px;
  font-family: "Noto Sans", sans-serif;
  font-size: 35px;
  color: white;
  margin: 0;
}
.input {
  width: 100%;
}
.container {
  padding: 30px 20px;
}
.passwordInput input {
  padding-right: 35px;
}
.css-pnq1z9-MuiStack-root {
  position: relative;
}
.passwordView {
  position: absolute;
  right: 8px;
  top: 27%;
}
.passwordView2 {
  position: absolute;
  right: 8px;
  top: 30%;
}
.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
  height: 16px !important;
}
.css-i7rae6-MuiList-root {
  height: 100vh;
}

.loginText {
  font-family: "Lobster", cursive;
  color: white;
  font-size: 40px;
  margin: 160px 0px 0px 30px;
}
.helperText {
  font-family: "Noto Sans", sans-serif;
  color: white;
  font-size: 20px;
  margin: 10px 10px 0px 30px;
}
.textAlignCenter {
  text-align: center;
}
.textAlignCenter .createAccountButton {
  margin: 30px 0px;
  background-color: white;
  color: #0277bd;
  /* border-color: #0277bd; */
  border: 1px solid #0277bd;
}
.textAlignCenter .createAccountButton:hover,
.textAlignCenter .createAccountButton:focus {
  margin: 30px 0px;
  background-color: #0277bd;
  color: white;
  /* border-color: #0277bd; */
  border: 1px solid white;
}
.mainText {
  color: black;
  margin: 10px 0px 30px 0px;
  font-family: "Noto Sans", sans-serif;
}
.MuiFormControl-root {
  width: 100% !important;
}
.textAlignCenter .loginButton {
  background-color: #c62828 !important;
  margin-top: 20px !important;
}
.height100 {
  height: 100% !important;
}
.textAlignCenter .loginButton:hover,
.textAlignCenter .loginButton:focus {
  background-color: white !important;
  color: #c62828;
  border: 1px solid #c62828;
}
.forgotText {
  margin: 10px 0px 10px 0px !important;
  font-size: 15px;
  font-family: "Noto Sans", sans-serif;
}
a {
  text-decoration: none;
}
.mt-0 {
  margin-top: 0px !important;
}
.mb-20 {
  margin-bottom: 20px !important;
}
.iconPadding {
  padding: 0px 95px;
}
.css-i7rae6-MuiList-root {
  max-width: 260px !important;
}
.MuiList-subheader {
  box-shadow: 0px 6px 40px -1px rgb(0 0 0 / 24%);
}
.flexLogin {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cards h1 {
  font-size: 30px;
}
.cards h2 {
  font-size: 55px;
  margin: 0;
}
.flex {
  display: flex;
}
.mainContent {
  width: 100%;
  margin: 30px 45px;
  box-shadow: 0px 6px 40px -1px rgb(0 0 0 / 24%);
}
