@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap");

.backgound {
  background-color: #f8f9fd;
  height: 100vh;
}
.loginBox {
  height: 410px;
  background-color: white;
  width: 500px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
  box-shadow: 0px 10px 34px -15px rgb(0 0 0 / 24%);
}
.header {
  height: 100px;

  background-color: #01d28e;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  text-align: center;
}

.headerText {
  padding: 25px 0px;
  font-family: "Noto Sans", sans-serif;
  font-size: 35px;
  color: white;
  margin: 0;
}
.input {
  width: 100%;
}
.container {
  padding: 30px 100px;
}
.passwordInput input {
  padding-right: 35px;
}
.css-pnq1z9-MuiStack-root {
  position: relative;
}
.passwordView {
  position: absolute;
  right: 8px;
  top: 72px;
}
